.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
}

button {
  background-color: #af4c74;
  color: white;
}
